div{
    background-color: red;
    width: 150px;
    height: 220px;
    animation: ChangeColor 10s;
}
button:hover{
    width: 350px;
}
div:hover{
    width: 350px;
}
@keyframes ChangeColor{
    from{
        background-color: aqua;
    }
    to{
        background-color: blue;
    }
}
